^tmp_head^
<header ng-style="{'background-image': 'url(' + image_header + ')'}">

    <div class="intro-content">
        <img src="{{image_profile}}" class="img-responsive img-centered" alt="">
        <div class="brand-name">Theme 1</div>
        <hr class="colored">
        <div class="brand-name-subtext">by Christopher</div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>
<section id="about">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-lg-12 wow fadeIn">
                <h1>A Theme for Creatives &amp; Agencies</h1>
                <p>Vitality is the perfect theme for a freelance professional or an agency.</p>
                <hr class="colored">
            </div>
        </div>
        <div class="row text-center content-row">
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".2s">
                <div class="about-content">
                    <i class="fa fa-eye fa-4x"></i>
                    <h3>Retina Ready</h3>
                    <p>This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".4s">
                <div class="about-content">
                    <i class="fa fa-edit fa-4x"></i>
                    <h3>Easy to Edit</h3>
                    <p>Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".6s">
                <div class="about-content">
                    <i class="fa fa-tablet fa-4x"></i>
                    <h3>Responsive</h3>
                    <p>When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay=".8s">
                <div class="about-content">
                    <i class="fa fa-heart fa-4x"></i>
                    <h3>Built with Love</h3>
                    <p>All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
^angular^
^tmp_footer^


<!-- Plugin Scripts -->
<script src="/public/theme1/js/plugins/jquery.easing.min.js"></script>
<script src="/public/theme1/js/plugins/classie.js"></script>
<script src="/public/theme1/js/plugins/cbpAnimatedHeader.js"></script>
<script src="/public/theme1/js/plugins/owl-carousel/owl.carousel.js"></script>
<script src="/public/theme1/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="/public/theme1/js/plugins/jquery.fs.wallpaper.js"></script>
<script src="/public/theme1/js/plugins/jquery.mixitup.js"></script>
<script src="/public/theme1/js/plugins/wow/wow.min.js"></script>
<script src="/public/theme1/js/contact_me.js"></script>
<script src="/public/theme1/js/plugins/jqBootstrapValidation.js"></script>

<!-- Vitality Theme Scripts -->
<script src="/public/theme1/js/vitality.js"></script>